.nonveg {
  color: red;
  margin-right: 10px;
  font-size: 13px;
}
.veg {
  color: lightgreen;
  margin-right: 6px;
  font-size: 13px;
}
.card-img1 {
  width :120px;
  /* object-fit: contain; */
  height: 120px;
  border-radius: 20px;
}
.cont1
{
  display: flex;
  justify-content: center;
  gap: 10px;
}