.nonveg {
  color: red;
  margin-right: 10px;
  font-size: 13px;
}
.veg {
  color: lightgreen;
  margin-right: 6px;
  font-size: 13px;
}
.card-img1 {
  width: 100px;
  height: 70px;
  border-radius: 20px;
}
.cont1 {
  left: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action_card {
  width: 150px;
  height: 70px;
  float: left;
  margin-left:110px;
}
.body_card {
  font-size: 16px;
  float: left;
  width: 500px;
  height: 70px;
}
