*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}
.bg-success {
  background-color: #6dad1f;
}
.bg-danger {
  background-color: #e07000;
}
.bg-primary {
  background-color: #ffc300;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 70px;
  background: #fff;
}
.nav-items > ul {
  max-width: 400px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-items > ul > li {
  padding: 10px;
  color: #001d3d;
}

.nav-items > ul > li:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.logo {
  margin-left: 10px;
  width: 70px;
}

.cart,
.profile,
.home {
  width: 50px;
}
.search-icon {
  width: 20px;
  height: 20px;
}

.container {
  margin-top: 90px;
}

.search-container {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  max-width: 500px;
  align-items: center;
  margin: auto;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.shimmer-card {
  flex-basis: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.shimmer-title {
  width: 60%;
  margin-top: 10px;
}
.shimmer-tags {
  width: 80%;
  margin-top: 4px;
}
.shimmer-details {
  width: 100%;
  margin-top: 18px;
}
.shimmer-container .shimmer-img {
  height: 144px;
  width: 230px;
}
<<<<<<< HEAD

=======
.carts1
{
  display: flex;
}
.carts
{
  padding-top: 16px;
  font-size: 16px;
  font-weight: 900;
}
>>>>>>> 2c8b8e4 (Mern Done)
/*Animation to Shimmer Component Cards */
.stroke {
  height: 15px;
  background: #777;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}

.search-input {
  height: 30px;
  flex-basis: 350px;
  appearance: none;
  background-color: #eeeeee;
  border: 0px inset rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  outline: none;
  font-size: 16px;
  padding: 5px;
}

.search-btn {
  background-color: #ffc300;
  height: 30px;
  color: #001d3d;
  flex-basis: 60px;
  border-radius: 7px;
  border: #ffc300;
  outline: none;
  font-size: 16px;
}
.search-btn:hover {
  cursor: pointer;
}

.error-container {
  height: 50px;
  margin: auto;
  text-align: center;
}
.hide {
  display: none;
}
.error-msg {
  width: 50px;
  height: 30px;
  font-size: 14px;
  color: #c70039;
}
.restaurant-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap : 20px;
  justify-content:space-between;
}
h6
{
  color: black;
}
.link-styles, .card{
  flex-basis : 250px;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
.card:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.card > img {
  width : 100%;
}
.card-title {
  font-size: 16px;
  font-weight: bold;
  word-spacing: 2px;
  width: 60%;
}
.card-tags {
  color: #686b78;
  font-size: 12px;
  width: 80%;
}
.card-details {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
  color: #535665;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
}
.rating {
  display: flex;
  align-items: center;
  height: 20px;
  width: 43px;
  padding: 0 5px;
  gap: 5px;
}

.footer-div {
  width: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 50px;
<<<<<<< HEAD
  line-height: 50px;
  background: #ffc300;
  color: #001d3d;
  text-align: center;
  position: fixed;
=======
  /* line-height: 50px; */
  background: #ffc300;
  color: #001d3d;
  text-align: center;
  /* position: fixed; */
>>>>>>> 2c8b8e4 (Mern Done)
}
.footer-text {
  text-align: center;
}

.red-heart {
  color: #c70039;
}

/*TODO*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card {
    flex-basis: 150px;
    flex-wrap: wrap;
  }
  .search-input {
    flex-basis: 300px;
    font-size: 12px;
  }
  .search-btn {
    flex-basis: 50px;
    font-size: 12px;
  }
  .footer-div
  {
<<<<<<< HEAD
    margin-top: 80px;
=======
    /* margin-top: 80px; */
>>>>>>> 2c8b8e4 (Mern Done)
  }
}
